/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
   
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Hero section style */
.Hero-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
}
.first-width{
    width: 33%;
    
}
.hero-area-text{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 42px;
}
.buttton {
    background: #E02C6D;
    text-decoration: none;
    color: #fff;
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 500;
}

a i{
    margin-left: 8px;
    font-size: 14px;
}

.banner{
    width: 556px;
}



/* Player Boxes design start */

.player-details-box {
    width: 1035px;
    margin: 70px auto;
    background-color: rgba(255, 255, 255, 1);

}

.player-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 30px;
}

.player-box {
    width: 300px;
    padding: 15px 15px 33px 15px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
}

.player-img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}

.player-box h3{
    font-size: 28px;
    font-weight: 700;
}

.player-box p{
    color: #6C6C6C;
    margin-top: 10px;
}

/* Player Boxes design end */

/* Review section style start */
.review_section{
    width: 1035px;
    margin: 70px auto;
    background-color: rgba(255, 255, 255, 1);
}
section.review_section h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    grid-gap: 30px;
}

.review{
    width: 480px;
    border-radius: 5px;
    padding: 15px 15px 33px 15px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
}
.first-row {
    display: flex;
    align-items: center;
}
.fan-detial {
    display: flex;
    align-items: center;
}

img.fan-img {
    width: 15%;
    border-radius: 50%;
}

h2.fan-name {
    display: inline;
    margin-left: 18px;
}

.ratings {
    display: flex;
}
i.fas.fa-star.filled {
    color: #ffde1a;
}

i.far.fa-star.empty {
    color: #ffde1a;
}


.second-row {
    margin-top: 15px;
}
/* Review section style End */

/* Contact section style */
.contact {
    width: 700px;
    margin: 0 auto;
}

section.contact h1 {
    font-size: 32px;
    text-align: center;
    margin: 80px 0;
}

#form:focus {
    outline: none;
}

#form{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Poppins';
}

textarea#form {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

input#form-btn {
    padding: 10px 40px;
    font-size: 14px;
    border: 2px solid #000;
    cursor: pointer;
    background: transparent;
    transition: all .3s;
}
input#form-btn:hover {
    background: #2D25A0;
    color: #fff;
    border: 2px solid #2D25A0;
}
/* Contact section End */


/* Footer style start */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
    margin-bottom: 63px;
}

.footer-logo img{
    width: 483px;
   
}
.footer-socail-icons{
    margin-top: 20px;
}
.footer-socail-icons i {
    color: #969BAB;
    background: #E7E7E8;
    padding: 8px;
    border-radius: 25px;
    font-size: 15px;
    margin-right: 14px;
}
.footer-copyright{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    Line-height: 24px;
    color: #000;

}

/* Footer style end */

/* Responsive for tablet */

@media only screen and (max-width:992px) {

    .Hero-area {
        height: 500px;
    }
    .hero-area-text {
        font-size: 34px;
    }

    .banner {
        width: 390px;
    }

    .player-details-box, .review_section, .contact{
        width: 100%;
    }

    .player-boxes, 
    .player-box, 
    .review
    {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    .reviews{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);        
    }

   
    
    form{
        margin-left: 40px;
    }
    #form {
        width: 90%;
    
    }
    textarea#form {
        width: 90%;
    }
    .footer-logo img{
        width: 400px;

    }
    
}


/* Responsive for mobile */

@media only screen and (max-width:680px) {

    .Hero-area{
        display: flex;
        flex-direction: column;
        height: 695px;
        
    }

    .first-width, .banner {
        width: 100%;
        
    }

    .hero-area-text{
        font-size: 36px;
        margin-left: 15px;
    }
    
    .buttton {
         padding: 10px 14px;
         margin-left: 15px;
    }

    .sec-width {
        margin: 0 auto;
        margin-top: 50px;
    }

    .banner{
        width: 329px;
    }

    .player-details-box, .review_section, .contact{
        width: 100%;
    }

    .player-boxes, 
    .player-box, 
    .reviews,
    .review{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .review{
        width: 80%;        
    }

    h2.fan-name {
        font-size: 16px;
    }
    
    form{
        margin-left: 45px;
    }
    #form {
        width: 80%;
        
        
    }
    textarea#form {
        width: 80%;
    }
    .footer-logo img{
        width: 150px;
        margin-bottom: 29px;

    }

    .footer-socail-icons{
        margin-bottom: 20px;
    }
    
}